# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv_clean/
venv_pack/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# PyInstaller / Build Artifacts
dist/
build/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Project Specific
uploads/
icon.iconset/

# IDE Settings
.vscode/
.idea/
*.swp
*.swo

